<a name="0"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto ordinario part1-->
<div class='sezione'>%@</div>
<div id="primodiv">%@</div>
<a name="1"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto antifona e colletta-->
<div class='sezione'>%@</div>
%@
<a name="2"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto letture-->
<div class='sezione'>%@</div>
%@
<a name="3"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto omelia-->
<div class='sezione'>%@</div>
<div class="omelia">
%@
</div>
<a name="4"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto credo-->
<div class='sezione'>%@</div>
%@
<a name="5"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto preghieredeiFedeli-->
<div class='sezione'>%@</div>
%@
<a name="6"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto ordinario 2-->
<div class='sezione'>%@</div>
%@
<a name="7"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto sulle offerte-->
<div class='sezione'>%@</div>
%@
<a name="8"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto prefazio-->
<div class='sezione'>%@</div>
%@
<a name="9"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto preghiera eucaristica-->
<div class='sezione'>%@</div>
%@
<a name="10"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto ordinario parte 3 (riti comunione)-->
<div class='sezione'>%@</div>
%@
<a name="11"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto antifona-->
<div class='sezione'>%@</div>
%@
<!--riti conclusione-->
<div class='sezione'>%@</div>
%@
<a name="12"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto benedizione solenne-->
<div class='sezione'>%@</div>
%@
<a name="13"></a>
<div style="display:block; height:5px;"></div>
<!--contenuto avvisi-->
<div class='sezione'>%@</div>
%@
<br/><br/><br/><br/><br/><br/>