<br /><br /><br /><br /><br /><br />
</body>
<script>
    var allElements = document.getElementsByTagName("a");        
    var element;
    var lista_ancore = new Array();
    
    var a=0;
    for (var i = 0; (element = allElements[i]) != null; i++) {
        alert(element.getAttribute("name"));
        if (element.name)
        {
            
            element.setAttribute("style", "display:none;");
            element.createAttribute('data-jump',a++);
            lista_ancore.push(element);
        }
        else if(element.className != 'no')element.setAttribute("class", "bottone");
    }

function getSelectionHtml() {
    var html = "";
    if (typeof window.getSelection != "undefined") {
        var sel = window.getSelection();
        if (sel.rangeCount) {
            var container = document.createElement("div");
            for (var i = 0, len = sel.rangeCount; i < len; ++i) {
                container.appendChild(sel.getRangeAt(i).cloneContents());
            }
            html = container.innerHTML;
        }
    } else if (typeof document.selection != "undefined") {
        if (document.selection.type == "Text") {
            html = document.selection.createRange().htmlText;
        }
    }
    return html;
}


</script>
</html>
