<div class="page">
  <div id="share_tit">
    <div id="share_img_div"><img id="share_img" src="iBreviaryLOGO@2x.png" /></div>
        <div id ="messa_tit">
            <img id="messa_logo" src="sub_creaMessa.png" /><br />
            <p>%@
            <br />
            <span id ="messa_sub">%@</span>
            </p>
        </div>
        <div id="prima_pag_date">
            %@
        </div>
  </div>
</div>
