@charset "UTF-8";
/* utilizzati nell'xml */


body{
    text-align:center;
    font-size:12px;
    background-color:transparent;
    font-family:Palatino-Roman;
    color:rgba(255,255,255,0.90);
}

#body{
    text-align:center;
    font-size:12px;
    width:305px;
}

#bodyMessa{
    text-align:center;
    font-size:12px;
    width:460px;
}



.linea{
    display:block;
    border-bottom:1px solid #d1cbc5;
    width:285px;
    margin:0 auto 5px auto;
}

.lineaTit{
    display:block;
    width:240px;
    height:1px;
    border-bottom:1px solid #d1cbc5;
    margin:5px auto 3px auto;
}

#bodyIPAD{
    text-align:center;
    font-size:14px;
    background-color:transparent;
    width:463px;
}

#bodyIPAD .linea{
    display:block;
    border-bottom:1px solid #d1cbc5;
    width:385px;
    margin:0 auto 5px auto;
    padding:0 5px;
}


#bodyIPAD .lineaTit{
    display:block;
    width:340px;
    height:1px;
    border-bottom:1px solid #d1cbc5;
    margin:5px auto 3px auto;
}



.titolo{
    font-size:18px;
    font-weight:bold;
    margin:13px auto 0px auto;
    color:rgba(255,255,255,1);
    text-align:center;
    text-transform:uppercase;
}

table{
    border:1px solid rgba(255,255,255,0.2);
    margin:auto;
}

td,tr{
    border:1px solid rgba(255,255,255,0.2);
    margin-left:-5px;
}

.col1{
    display:inline-table;
    vertical-align:middle;
    text-align:center;
    height:50px;
    width:60px;
    font-size:18px;
    line-height:50px;
}

/*
 =========================
 SCREEN ORIENTATION @media
 =========================
 */

@media only screen and (min-device-width: 375px) and (max-device-width: 667px){
    /*iPhone 6 */
    body{
        width:357px;
    }
    
    #body{
        width:357px;
    }


}

@media only screen and (min-device-width: 414px) and (max-device-width: 736px){
    /*iPhone 6+ */
    body,#body{
        width:396px;
    }
}

.col2{
    display:inline-table;
    padding:5px 5px 5px 10px;
    height:50px;
    font-size:15px;
}

td.titolo{
    font-size:19px;
    line-height:60px;
    height:60px;
    font-weight:bold;
    color:rgba(255,255,255,1);
    text-align:center;
    text-transform:uppercase;
}

.IMG{
    height:40px;
    opacity:0.85;
}

.IMGb{
    height:12px;
    opacity:0.85;
}

.logoW{
    margin:0 auto;
    width:140px;
    opacity:0.75;
}

.circle{
    font-size:9px;
    line-height:37px;
    display:block;
    color:white;
    margin:5px auto;
    background-color:transparent;
    border:3px solid rgba(255,255,255,0.8);
    border-radius: 50%;
    width: 37px;
    height: 37px;
}

.indice{
    font-size:16px;
    font-weight:bold;
    margin:13px auto 0px auto;
    color:rgba(255,255,255,1);
    text-align:center;
}

