<div style="color:white; opacity:0.95; font-family:Copperplate; font-size: 14px; padding:21px; text-align:center;">
MySpiritualBook es tu DIARIO espiritual en donde escribes tus citas preferidas junto con tus reflexiones personales
<br />
<br />
<div style="font-size: 80%; width:60%; text-align:left;">
    <ul>
    <li style="margin-bottom: 12px; " >Copia del iBreviary una cita y la añades a tu “MySpiritualBook”</li>
    <li style="margin-bottom: 12px; " >Añade a tu “MySpiritualBook” tu reflexión y tus pensamientos espirituales.</li>
    <li style="margin-bottom: 12px; margin-left:-10px;" >Comparte todo tu Diario o algún pensamiento con tus amigos.</li>
    </ul>
</div>