<div style="color:white; opacity:0.95; font-family:Copperplate; font-size: 14px; padding:21px; text-align:center;">
"MySpiritualBook" هو دفترك الذي تجمع فيه خواطرك الروحية ونصوصك المفضّلة بالإضافة لتأملاتك الشخصيّة
<br />
<br />
<div style="font-size: 80%; width:60%; text-align:left;">
    <ul>
    <li style="margin-bottom: 12px; " >انسخ من "آي بريفياري" أي نص وأضفه إلى "MySpiritualBook"
</li>
    <li style="margin-bottom: 12px; " >أضف إلى "MySpiritualBook" تأملاتك وأفكارك الروحية 
</li>
    <li style="margin-bottom: 12px; margin-left:-10px;" >شارك مع أصدقائك مذكرتك بكاملها أو فكرة واحدة منها
/li>
    </ul>
</div>