<div style="color:white; opacity:0.95; font-family:Copperplate; font-size: 14px; padding:21px; text-align:center;">
MySpiritualBook is your spiritual diary  where you can note down your favourite texts together with your personal reflections.
<br />
<br />
<div style="font-size: 80%; width:60%; text-align:left;">
    <ul>
    <li style="margin-bottom: 12px; " >Copy any text from iBreviary, adding it to your "MySpiritualBook"</li>
    <li style="margin-bottom: 12px; " >Add your reflections and spiritual thoughts to your "MySpiritualBook"</li>
    <li style="margin-bottom: 12px; margin-left:-10px;" >Share your entire Diary or a single thought with your friends</li>
    </ul>
</div>