<div style="color:white; opacity:0.95; font-family:Copperplate; font-size: 14px; padding:21px; text-align:center;">
MySpiritualBook senin ruhsal günlüğündür. Ona sevdiğin metinleri ve kişisel düşüncelerini ekleyebilirsin.
<br />
<br />
<div style="font-size: 80%; width:60%; text-align:left;">
    <ul>
    <li style="margin-bottom: 12px; " >iBreviary uygulamasındaki istediğin metni “MySpiritualBook” koleksiyonuna kopyalayabilirsin.</li>
    <li style="margin-bottom: 12px; " >Kendi "Ruhsal Kitabına" düşüncelerini yaz. </li>
    <li style="margin-bottom: 12px; margin-left:-10px;" >İstersen tüm günlüğünü, istersen tek bir düşünceyi arkadaşlarınla paylaş. </li>
    </ul>
</div>