<div style="color:white; opacity:0.95; font-family:Copperplate; font-size: 14px; padding:21px; text-align:center;">
MySpiritualBook è il tuo DIARIO SPIRITUALE, dove annotare i tuoi testi preferiti, insieme alle tue riflessioni personali.
<br />
<br />
<div style="font-size: 80%; width:60%; text-align:left;">
    <ul>
    <li style="margin-bottom: 12px; " >Copia da iBreviary qualsiasi testo aggiungendolo al tuo “MySpiritualBook”</li>
    <li style="margin-bottom: 12px; " >Aggiungi al tuo “MySpiritualBook” le tue riflessioni ed i tuoi pensieri spirituali</li>
    <li style="margin-bottom: 12px; margin-left:-10px;" >Condividi il tuo intero Diario oppure un singolo pensiero con i tuoi amici</li>
    </ul>
</div>