@charset "UTF-8";
/* CSS Document */
.Thrd_party{
	font-variant: small-caps;
	font-size:12px;
	margin-top:5px;
	font-weight:bold;
}

.Thrd_party_logo{
    opacity:0.75;
    height:24px;
    vertical-align: middle;
    margin-right:2px;
}

#bodyPAD{
    text-align:center;
    font-size:20px;
    background-color:transparent;
    font-family:Palatino-Roman;
    color:rgba(255,255,255,0.85);
    padding:0 10px;
    }

body{
    text-align:center;
    font-size:18px;
    background-color:transparent;
    font-family:Palatino-Roman;
    color:rgba(255,255,255,0.85);
}

.arabo{
	direction:rtl;
	}

.linea{
    display:block;
    border-bottom:1px solid #d1cbc5;
    width:285px;
    margin:0 auto 5px auto;
}

.lineaTit{
    display:block;
    width:240px;
    height:1px;
    border-bottom:1px solid #d1cbc5;
    margin:5px auto 3px auto;
}

.titolo{
    display:block;
    background-color:transparent;
    font-size:23px;
    font-weight:bold;
    margin:13px auto 0px auto;
    color:rgba(255,255,255,1);
}

ul{
    text-align:left;
	width:200px;
	margin: 0 auto;
}

li{
    margin:0 0 0 -25px;
    font-size:15px;
	font-style: italic;
	color:rgba(255,255,255,0.6);
}

.arealoghi{
    display:block;
    position:relative;
    width:300px;
    height:40px;
    margin:20px auto;
}

.leftIMG{
    position:absolute;
    left:20px;
    height:60px;
    opacity:0.75;
}

.rightIMG{
    position:absolute;
    top:-4px;
    right:45px;
    height:60px;
    opacity:0.75;
}

.logoW{
    margin:0 auto;
    width:140px;
    opacity:0.75;
}

