@charset "UTF-8";
/* utilizzati nell'xml */

/*
=========================
SCREEN ORIENTATION @media
=========================
*/

@media all and (orientation:portrait) {
        /* Portrait */
    #body{
    width:300px; !important
    margin:0 10px;
    overflow-x: hidden;
    }

}
    

@media all and (orientation:landscape) and (device-aspect-ratio: 2/3){
        /* iPhone <5  Landscape */
    #body{
        width:460px; !important
        margin:0 10px;
        overflow-x: hidden;
    }

}

@media all and (orientation:landscape) and (device-aspect-ratio: 40/71){
        /* iPhone5  Landscape */
    #body{
        width:538px; !important
        margin:0 0 0 10px;
        overflow-x: hidden;
    }

}
@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    /* iPAD Portrait */
    #body{
    width:748px; !important
    margin:0 10px;
    overflow-x: hidden;
    }

}
    

@media all and (device-width: 768px) and (device-height: 1024px) and (orientation:landscape) {
        /* iPAD Landscape */
    #body{
        width:1004px; !important
        margin:0 10px;
        overflow-x: hidden;
    }

}

@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:portrait) {
    /* iPADPRO Portrait */
    #body{
        width:974px; !important
        overflow-x: hidden;
    }
    
    body{
        padding:0 20px;
    }
    
}


@media all and (device-width: 1024px) and (device-height: 1366px) and (orientation:landscape) {
    /* iPADPRO Landscape */
    #body{
        width:1336px; !important
        overflow-x: hidden;
    }
    body{
        padding:0 20px;
    }
    
}

@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : portrait) {
    /*iPhone 6 Portrait*/
    #body{
        width:355px; !important
        margin:0 10px;
        overflow-x: hidden;
    }
}


@media only screen and (min-device-width: 375px) and (max-device-width: 667px) and (orientation : landscape) {
    /*iPhone 6 landscape*/
    #body{
        width:647px; !important
        margin:0 10px;
        overflow-x: hidden;
    }
}


@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : portrait) {
    /*iPhone 6+ Portrait*/
    #body{
        width:394px; !important
        margin:0 10px;
        overflow-x: hidden;
    }
}


@media only screen and (min-device-width: 414px) and (max-device-width: 736px) and (orientation : landscape) {
    /*iPhone 6+ landscape*/
    #body{
        width:716px; !important
        margin:0 10px;
        overflow-x: hidden;
    }
}

p,div,body{
    word-wrap: break-word;
}

.data_SpriritualSender{
    background-color:rgba(114,79,50,0.8);
    border-radius: 5px;
    padding-top:1px;
    padding-bottom:1px;
    color:white;
    border: 1px solid rgba(114,79,50,0.95);
    font-size: 80%; !important
    margin:0 auto;
    text-transform: uppercase;
}

hr {
    border:0;
    width:80%;
    opacity:0.8;
    background-color: #453320;
    height: 3px;
}


#bodyAnteprima{
    width:442px; !important
    padding:0 5px;
    overflow-x: hidden;
}

#body {
	font-size:20px;
}
    
#croce_vangelo{
                vertical-align:middle;
				margin-right:1px;
                width:60px;
                height:67px;
                padding:0px;
                text-align:left;
            }
        
#bottone{
    display:inline-block;
    -webkit-text-size-adjust: none;
    margin:10px 0px 10px -5px;
	line-height:18px;
    min-height:18px;
	font-size:14px;
	padding:5px 10px;
    font-family:Palatino-Roman;
	text-align:center;
	background-color:rgba(114,79,50,0.65);
	color: #fff;
	cursor: pointer;
	text-shadow: 0 -1px 1px #b09058; /*#725b4c;*/
	text-decoration: none;
    border: 1px solid rgba(114,79,50,0.70);
    word-wrap: break-word;
    max-width:300px;
}

#bottone{
	text-transform: uppercase;
}

.bottone span{
    color:white; !important
    font-size: 10px;
}

.zoomClass{
    display:none;
    width:100%;
    background-color:red;
}

.commenti{
    font-style: italic;
}

.sezioneComuni{
    -webkit-text-size-adjust: none;
    text-transform:uppercase;
    color:rgba(114,79,50,0.95);
    font-size: 13px;
    text-align: center;
    margin-bottom:5px;
    margin-top:5px;
    font-family:Palatino-Roman;
}

.sezioneCompietaIeri{
    display:block;
    text-transform:uppercase;
    -webkit-text-size-adjust: none;
    color:rgba(114,79,50,0.95);
    font-size: 13px;
    text-align: center;
    margin-bottom:5px;
    margin-top:5px;
    font-family:Palatino-Roman;
}

.sezioneOrdinario{
    -webkit-text-size-adjust:none;
    text-transform:uppercase;
    color:rgba(114,79,50,0.95);
    font-size: 16px;
    text-align: center;
    margin-bottom:5px;
    font-family:Palatino-Roman;
}

.sezioneSubPrefazio{
    -webkit-text-size-adjust:none;
    color:rgba(0,0,0,0.95);
    font-size: 19px;
    margin-bottom:5px;
    margin-top:5px;
    text-align: center;
    font-family:Palatino-Italic;
}

.sezione
{
    -webkit-text-size-adjust: none;
    display:block;
    color: #db1324;
	text-transform: uppercase;
	font-size: 160%;
	text-align: center;
    width:100%;
}

.sezione:empty
{
    display:none;
}

.sezioneRossa
{
    -webkit-text-size-adjust: none;
    display:block;
	color: #db1324;
	text-transform: uppercase;
	font-size: 160%;
	text-align: center;
    width:100%;
}

.testoComune{
	font-size: 110%;
	text-align: center;
	color:#096;
}

.sub_sezione
{
	color: #dc2311;
	text-transform: uppercase;
	font-size: 80%;
	text-align: center;
}

.titolo
{
	text-transform: uppercase;
	font-weight: 700;
    color: #db1324;
}

/* utilizzati nell'editor */

.capolettera_grande
{
	color: #db1324;
	font-size: 160%;
}

.capolettera_piccolo
{
	color: #db1324;
	font-size: 120%;
}

.paragrafo_grande
{
	font-weight: bolder;
	font-size: 125%;
}

.paragrafo_piccolo
{
	font-weight: bolder;
	font-size: 105%;
}

.rubrica
{
	color: #db1324;
}

.citazione
{
	color: #710000;
}


.risposta
{
	font-weight: bolder;
}

.omelia{
    font-size: 130%;
}

/*/=====================================/
//NORMALE CLASSIC
//=====================================*/

.body_normale{
    font-weight:400;
    background-color:transparent;
    font-family:Palatino-Roman;
}

/*/=====================================/
//NORMALE CLASSIC =2=
//=====================================*/

.body3_classic2{
    font-weight:400;
    background-color:transparent;
    font-family:'CaslonAntique';
}

/*/=====================================/
//ALTERNATIVE
//=====================================*/
.bodyB{
    font-weight:300;
    font-family:HelveticaNeue-Regular;
    background-color:transparent;
}

.bodyB p .titolo{
    background-color:rgba(114,79,50,0.8);
    border-radius: 5px;
    padding-top:1px;
    padding-bottom:1px;
    color:white;
    border: 1px solid rgba(114,79,50,0.95);
    font-size: 80%; !important
    margin:0 auto;

}
.bodyB p .rubrica{
    color: #8c5f30;
}

.bodyB .sezione{
    text-align: center;
    display: block;
    font-size: 120%;
    background-color:rgba(114,79,50,0.8);
    border-radius: 3px;
    color:rgba(255,255,255,0.95);
    border: 1px solid rgba(114,79,50,0.95);
}

.bodyB p .titolo, .bodyB p .sessione{
    margin-bottom:25px;
}

.bodyB br{
    margin-bottom:10px;
}

/*/=====================================
//REVERSE
//=====================================*/
.bodyBB{
    font-size:21px;
}

.bodyBB p .titolo{
    padding-top:1px;
    padding-left:10px;
    padding-bottom:1px;
    padding-right:10px;
}

.bodyBB p .citazione{
    color:rgba(255,255,255,0.5);
}

.bodyBB p .rubrica{
    padding:0px 2px;
    color:rgba(255,255,255,0.7);
}

.bodyBB{
    font-weight:400;
    background-color:black;
    color:rgba(255,255,255,0.95);
    padding-bottom:40px;
    }
    
.bodyBB .sezioneComuni,.bodyBB .sezioneCompietaIeri,.bodyBB .sezioneOrdinario,.bodyBB .sezioneSubPrefazio,.bodyBB .sub_sezione{
    color:rgba(255,255,255,0.7);
}

.bodyBB .testoComune{
    color:rgba(255,255,255,0.5);
}


.bodyBB .titolo
{
    color:rgba(255,255,255,0.8);
}


.bodyBB .capolettera_grande,.bodyBB .capolettera_piccolo,.bodyBB .paragrafo_grande,.bodyBB .paragrafo_piccolo
{
    color:rgba(255,255,255,1);
}

