@charset "UTF-8";
/* utilizzati per pdf */

/*
 =========================
 PDF CSS3
 =========================
 */
body {
    margin: 0;
    padding: 0;
    text-align:justify;
    background-color:transparent;
    /*background-color:rgba(248,236,194,.2);*/
}

#body {
    /*Body PDF*/
    font-size:25px;
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}
.page {
    width: 21cm;
    min-height: 29.7cm;
    background-color:transparent;
}

@page {
    size: A4;
    margin: 0;
}

.subpage {
    padding: 1cm;
    border: 5px red solid;
    height: 256mm;
    outline: 2cm #FFEAEA solid;
}

/*
 body {
 padding-bottom:0;
 height:100%;
 min-height:100%;
 margin:0 10px;
 overflow-x: hidden;
 font-size:20px;
 }
 */

/*=================
 PRIMA PAGINA
 =================*/

#primodiv p{
    margin-bottom:0px;!important
    padding-bottom:0px;!important
    font-size:20px;
}

#primodiv div#citazione{
    color: #710000;
    font-style: italic;
    float: right;
}

#share_tit{
    position:relative;
    display:block;
    width:100%;
    min-height: 29.7cm;
    margin:0px;
    text-align:center;
    /*background-color:blue;*/
}

#share_img_div{
    display:block;
    top:5px;
    height:2cm;
    width:70%;
    margin-left:15%;
    min-height:2cm;
    text-align:center;
    /*background-color:yellow;*/
}

#share_img{
    height:2cm;
}

#messa_tit {
    position:absolute;
    display: table-cell;
    width:98%;
    top:50%;
    left:1%;
    margin-top:-7cm;
    vertical-align: middle;
    min-height:14cm;
    height:14cm;
    /*background-color:green;*/
    font-size:120%;
    text-align:center;
}

#messa_tit p{
    text-align:center;
    width:100%;
    text-transform: uppercase;
    font-weight:bold;
    font-size:150%;
}

#myspiritual_tit{
    position:absolute;
    display: table-cell;
    width:98%;
    top:50%;
    left:1%;
    margin-top:-7cm;
    vertical-align: middle;
    min-height:14cm;
    height:14cm;
    /*background-color:green;*/
    font-size:150%;
    text-align:center;
}

#myspiritual_tit p{
    text-align:center;
    width:100%;
    font-weight:bold;
    font-size:150%;
}

#myspiritual_logo{
    height:120px;
    opacity:0.4;
    margin-bottom:-1.4cm;
}

#messa_logo {
    height:120px;
    opacity:0.4;
    margin-bottom:-1.4cm;
}

#messa_sub{
    font-size:22px;
    padding:0px 50px;
    margin-top:10px;
    border-top:1px solid rgba(255,0,0,0.95);
    font-variant: small-caps;
    font-weight:normal;
    /*white-space:nowrap;*/
}

#prima_pag_date{
    float:right;
    position:absolute;
    bottom:10px;
    right:0;
    font-size:20px;
    font-weight:normal;
    text-align:right;
    font-style: italic;
    /*background-color:yellow;*/
}

/*=================
 FINE PRIMA PAGINA
 =================*/

.NotaObj{
    text-align:justify;
}

.NotaObj_date{
    text-align:left;
    font-weight: bold;
}

p,div,body{
    word-wrap: break-word;
}


hr {
    border:0;
    width:80%;
    opacity:0.8;
    background-color: #453320;
    height: 3px;
}



#bodyAnteprima{
    width:442px; !important
    padding:0 5px;
    overflow-x: hidden;
}

#croce_vangelo{
    vertical-align:middle;
				margin-right:1px;
                width:60px;
                height:67px;
                padding:0px;
                text-align:left;
}

#bottone{
    display:inline-block;
    -webkit-text-size-adjust: none;
    margin:10px 0px 10px -5px;
    line-height:18px;
    min-height:18px;
    font-size:14px;
    padding:5px 10px;
    font-family:Palatino-Roman;
    text-align:center;
    background-color:rgba(114,79,50,0.65);
    color: #fff;
    cursor: pointer;
    text-shadow: 0 -1px 1px #b09058; /*#725b4c;*/
    text-decoration: none;
    border: 1px solid rgba(114,79,50,0.70);
    word-wrap: break-word;
    max-width:300px;
}

#bottone{
    text-transform: uppercase;
}

.bottone span{
    color:white; !important
    font-size: 10px;
}

.zoomClass{
    display:none;
    width:100%;
    background-color:red;
}

.commenti{
    font-style: italic;
}

.sezioneComuni{
    -webkit-text-size-adjust: none;
    text-transform:uppercase;
    color:rgba(114,79,50,0.95);
    font-size: 13px;
    text-align: center;
    margin-bottom:5px;
    margin-top:5px;
}

.sezioneCompietaIeri{
    display:block;
    text-transform:uppercase;
    -webkit-text-size-adjust: none;
    color:rgba(114,79,50,0.95);
    font-size: 13px;
    text-align: center;
    margin-bottom:5px;
    margin-top:5px;
}

.sezioneOrdinario{
    -webkit-text-size-adjust:none;
    text-transform:uppercase;
    color:rgba(114,79,50,0.95);
    font-size: 16px;
    text-align: center;
    margin-bottom:5px;
}

.sezioneSubPrefazio{
    -webkit-text-size-adjust:none;
    color:rgba(0,0,0,0.95);
    font-size: 19px;
    margin-bottom:5px;
    margin-top:5px;
    text-align: center;
    font-family:Palatino-Italic;
}

.sezione
{
    -webkit-text-size-adjust: none;
    display:block;
    color: #db1324;
    text-transform: uppercase;
    font-size: 160%;
    text-align: center;
    width:100%;
}

.sezione:empty
{
    display:none;
}

.sezioneRossa
{
    -webkit-text-size-adjust: none;
    display:block;
    color: #db1324;
    text-transform: uppercase;
    font-size: 160%;
    text-align: center;
    width:100%;
}

.testoComune{
    font-size: 110%;
    text-align: center;
    color:#096;
}

.sub_sezione
{
    color: #dc2311;
    text-transform: uppercase;
    font-size: 80%;
    text-align: center;
}

.titolo
{
    text-transform: uppercase;
    font-weight: 700;
    color: #db1324;
}

/* utilizzati nell'editor backOffice */

.capolettera_grande
{
    color: #db1324;
    font-size: 160%;
}

.capolettera_piccolo
{
    color: #db1324;
    font-size: 120%;
}

.paragrafo_grande
{
    font-weight: bolder;
    font-size: 125%;
}

.paragrafo_piccolo
{
    font-weight: bolder;
    font-size: 105%;
}

.rubrica
{
    color: #db1324;
    font-family:Palatino-Roman;
}

.citazione
{
    color: #710000;
}


.risposta
{
    font-weight: bolder;
}

.omelia{
    font-size: 130%;
}


.sezione
{
    -webkit-text-size-adjust: none;
    display:block;
    color: #db1324;
    text-transform: uppercase;
    font-size: 160%;
    text-align: center;
    width:100%;
}
